PROJECT_NAME=django-starter
VIRTUAL_ENV=django-starter
NAMESPACE=django-starter-local
DEBUG=True
SKIP_TASK_QUEUE=True
GCLOUD_STATIC_BUCKET=django-starter-static
GCLOUD_USE_STATIC=False
CELERY_ID=local-django-starter-m
POSTGRES_1_PORT_5432_TCP_PORT=5125
AWS_USE_S3=False
AWS_STORAGE_BUCKET_NAME=django-starter

DJANGO_SECRET=
TWILIO_SID=
TWILIO_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SENDGRID_API_KEY=
