PROJECT_NAME=bitcoin-hooks
VIRTUAL_ENV=bitcoin-hooks
NAMESPACE=local
DEBUG=True
SKIP_TASK_QUEUE=True
GCLOUD_STATIC_BUCKET=bitcoinhooks
GCLOUD_USE_STATIC=False
CELERY_ID=local-bitcoinhooks-m
POSTGRES_1_PORT_5432_TCP_PORT=5123
AWS_USE_S3=False
AWS_STORAGE_BUCKET_NAME=bitcoinhooks

DJANGO_SECRET=
TWILIO_SID=
TWILIO_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SENDGRID_API_KEY=