PROJECT_NAME=django-starter
VIRTUAL_HOST=staging.starter.rehive.com
LETSENCRYPT_EMAIL=info@example.com
LETSENCRYPT_HOST=staging.starter.rehive.com
NAMESPACE=django-starter-staging
CELERY_ID=staging-django-starter
DJANGO_SECRET=agjdflkadjgpo[quwr09gu9q4t0q342jr0qj4foid23
DEBUG=True
TASK_QUEUE=True
ENV_FILE=.staging.env
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_USE_S3=True
AWS_STORAGE_BUCKET_NAME=django-starter
SENDGRID_API_KEY=
GCLOUD_STATIC_BUCKET=django-starter-static
GCLOUD_USE_STATIC=True
SENTRY_DSN_KEY=
