django
redis
gunicorn
celery
psycopg2
boto
django-user-sessions
twilio
djangorestframework
djangorestframework-jwt
django-cors-headers
web3
django-rest-auth
pillow
requests
markdown
django-filter
django-crispy-forms
msgpack-python
django-ses-backend
django-storages
toml
django-anymail[sendgrid]
django-celery-email
raven
django-debug-toolbar
two1
